<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lorem</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<nav class="navbar navbar-inverse">
    <div class="container=fluid">
        <!-- header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home</a>
        </div>

          <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">
                  <li class="">
                      <a href="/blog">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Blog
                      </a>
                  </li>
                      <li class="">
                      <a href="/contact">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Contact
                      </a>
                  </li>
              </ul>
          </div>
    </div>
  </nav>

  <div class="page-header">
      <center>
        <h1>Lorem ipsum</h1>
      </center>
  </div>

          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-10">
               {% block content %}
               {% endblock %}



              </div>
             </div>
          </div>

    <footer class="text-center">
        <div class="nav navbar-fixed-bottom">
          <div class="container">
            <div class="row">
                  Copyright &copy;
          </div>
        </div>
      </div>
    </footer>


</body>

</html>
